@page
@model YMCAProject.Pages.MemberDashboard
@{
    ViewData["Title"] = "MemberDashboard";
}

@if (User.Identity.IsAuthenticated) {
    <h1>@(Model.IsMember == 1 ? "Member Dashboard" : "User Dashboard")</h1>
}
<p>Welcome @Model.FirstName! Here you can view all of the programs you are registered for!</p>
@* <h1>Member Dashboard</h1>
<p>Welcome @User.Identity.Name! Here you can view all of the programs you are registered for!</p> *@
@* @if((User.FindFirst("UserType")?.Value?.Equals("Admin") ?? false)){
<a class='btn btn-primary mb-3' href='/Admin/CreateProgram'>Create New Program</a>
}
@if (TempData["RegisterMessage"] != null)
{
    <div class="alert @((string)TempData["MessageType"] == "success" ? "alert-success" : "alert-danger")">
        @TempData["RegisterMessage"]
    </div>
} *@

<div class="container">
    <div class="row">
        @foreach (var classInfo in Model.programList)
        {
            <div class="col-lg-4  mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@classInfo.ClassName</h5>
                        <p class="card-text"><strong>Description:</strong> @classInfo.ClassDescription</p>
                        <p class="card-text"><strong>Dates:</strong> @classInfo.StartDate.ToString("MMM dd, yyyy") - @classInfo.EndDate.ToString("MMM dd, yyyy")</p>
                        <p class="card-text"><strong>Day/Time:</strong> @classInfo.Days: @classInfo.StartTime.ToString("hh:mm tt") - @classInfo.EndTime.ToString("hh:mm tt")</p>
                        <p class="card-text"><strong>Location:</strong> @classInfo.Location</p>
                        
                        @* TODO: change to cancel button *@
                        @* <form method="post" asp-page-handler="RegisterClass">
                            <input type="hidden" name="className" value="@classInfo.ClassName" />
                            <input type="hidden" name="programId" value="@classInfo.ProgramId" />
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>